---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<span class="icon z-10 text-7xl font-normal absolute top-1 left-0">♗</span>
	<Section
		icon="♗"
		titleEsp=" Sobre mi"
		bodyEsp="Nicov comenzó a jugar Age of Empires II en 2001 o 2002, principalmente en partidas de Death Match y Escenario Personalizado. Después de tomar un descanso del juego en 2006, regresó en 2011 cuando comenzó a jugar en el modo de juego Random Map. En 2014, Nicov se unió al clan argentino Dreamers. El primer éxito en torneos de Nicov llegó en 2014 cuando logró un quinto lugar compartido en Veterans of the Clash. Ese mismo año, Nicov formó parte del equipo argentino que obtuvo el tercer lugar en la SY Nations Cup I, junto con Fedex, Gary, PaTiN, JuanNNN y Mago. Más éxitos llegaron en 2015 cuando ganó el torneo Poisn's Nomadness 1 junto con Mentalist. En 2017, ganó el Escape Gaming Masters 2 al vencer a DauT en la gran final. Nicov ha ganado las tres ediciones de la Argeking Cup: en 2017 y 2019 ganó contra Twigg en las finales, mientras que en 2018 venció a Fedex. Para la Battle of Africa (2018), Nicov se unió a Aftermath. Con su nuevo clan, lograron el segundo lugar en este torneo después de perder ante TyRanT (más tarde conocido como Team Secret) en la gran final. Aftermath también fue subcampeón ante Team Secret en la Escape Champions League (2018-19). Nicov fue uno de los campeones en los torneos individuales dentro de la ECL, ganando contra TheMax en la final de la Escape Champions League, West Europe, 1v1. Junto con MbL y Hera, Nicov ganó el Two Pools Tournament (2019). En la Battle of Africa 2 (2020), Nicov y sus compañeros de equipo derrotaron a Team Secret en las finales. Durante el King of the Desert 3, tomó la decisión de dejar Aftermath como miembro, pero aún participó en exhibiciones con sus antiguos compañeros de equipo. Menos de un año después, volvió a unirse. En 2022, ganó los torneos 3v3 Return of the Clans y Battle of Africa 3 con Aftermath, derrotando a GamerLegion en ambas finales. También se convirtió en el primer campeón del JorDan's Medieval Brawl,venciendo sucesivamente a Yo, Vinchester y Villese, con cada serie decidida en el último mapa."
	/>
</Layout>

<style>
	.icon {
		opacity: 0.3;
		color: white;
		view-transition-name: king;
	}
		@media (width < 950px) {
		.icon {
			display: none;
		}
	}
</style>
