---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BiographyPage">
	<article>
		<h2>Biography</h2>
		<p>
			Nicolás "Nicov" Bruno (born February 21, 1992) is an Argentine Age
			of Empires II player who is currently playing for Aftermath. He is
			currently living in Rome, Italy. Nicov first started playing Age of
			Empires II in 2001 or 2002, mostly playing Death Match and Custom
			Scenario. After taking a break from the game in 2006, he returned in
			2011 when he started playing the Random Map game mode.[1] In 2014,
			Nicov joined the Argentinian clan Dreamers (zZ). Nicov's first
			tournament success came in 2014 when he took a shared fifth place in
			Veterans of the Clash.[2] That same year, Nicov was part of the
			Argentinian team that placed third in SY Nations Cup I, together
			with Fedex, Gary, PaTiN, JuanNNN and Mago.[3] Further success came
			in 2015 when he won Poisn's Nomadness 1 together with Mentalist.[4]
			In 2017, he won the Escape Gaming Masters 2 after beating DauT in
			the grand finals.[5] Nicov has won all three editions of the
			Argeking Cup: in 2017 and 2019 he won against Twigg in the finals,
			while in 2018 he beat Fedex.[6] For Battle of Africa (2018), Nicov
			joined Aftermath. With his new clan, they claimed second place in
			this tournament after losing to TyRanT (later known as Team Secret)
			in the grand finals.[7] Aftermath also finished runner-up to Team
			Secret in the Escape Champions League (2018-19). [8] Nicov was one
			of the champions in single tournaments inside the ECL, winning
			against TheMax the final of the Escape Champions League, West
			Europe, 1v1. Together with MbL and Hera, Nicov won the Two Pools
			Tournament (2019).[9] In Battle of Africa 2 (2020), Nicov and his
			teammates defeated Team Secret in the finals. During King of the
			Desert 3, he made the decision to leave Aftermath as a member, but
			he still took part in showmatches with his former teammates. Less
			than a year later, he rejoined. In 2022 he won the 3v3 tournaments
			Return of the Clans and Battle of Africa 3 with Aftermath, defeating
			GamerLegion in both finals. He also became the first JorDan's
			Medieval Brawl champion, successively beating Yo, Vinchester and
			Villese, with each series decided on the last map.
		</p>
	</article>
</Layout>

<style>
	article {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
