---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Classes">
	<span class="icon z-10 text-7xl font-normal absolute top-1 left-0">♖</span>
	<Section
		icon="♖"
		titleEsp="Clases de AOE 2"
		bodyEsp="Ofrecemos una variedad de clases para todas las edades y niveles de habilidad. Desde principiantes hasta avanzados, tenemos algo para todos. En nuestra academia, te invitamos a emprender un emocionante viaje de desarrollo de habilidades. Desata tu potencial con nuestra amplia gama de clases, cuidadosamente diseñadas para cada grupo de edad y nivel de habilidad. Ya sea que estés dando tus primeros pasos o buscando la maestría, tenemos la clase perfecta para tus objetivos. ¡Únete a nosotros y deja que la aventura del aprendizaje comience!"
	/>
</Layout>
<style>
	.icon {
		opacity: 0.3;
		color: white;
		view-transition-name: rook;
	}
		@media (width < 950px) {
		.icon {
			display: none;
		}
	}
</style>
