---
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import wallpaper from "../img/nikov-redbull.jpg";
import Layout from "../layouts/Layout.astro";
import nicov from "../img/nicov-title.png";
import { Youtube } from "../components/Youtube.jsx";
import Switch from "../components/Switch.astro";
---

<Layout title="Home">
	<section class="h-screen p-0 m-0 w-screen flex items-center justify-center">
		<a href="/">
			<Image src={nicov} alt="nicov" class="nicov" />
		</a>
		<Switch />

		<ul
			class="grid grid-cols-6 grid-rows-5 gap-3 max-h-[80vh] max-w-[1000px] z-20">
			<li class="col-span-3 row-span-1 rounded-lg">
				<Card
					href="about"
					titleEng="About me"
					titleEsp="Sobre mí"
					bodyEng="Hello, my name is Nicolás and I'm 31 years old. I was born in Argentina, and I currently live in Rome, Italy. I play AoE 2 Definitive Edition competitively. I have been playing Age of Empires II since I was 10, dating back to the zone days. I've been playing at a high level since 2013."
					bodyEsp="Hola, mi nombre es Nicolás y tengo 31 años. Nací en Argentina y actualmente vivo en Roma, Italia. Juego AoE 2 Definitive Edition de manera competitiva. He estado jugando Age of Empires II desde los 10 años, remontándome a la época de la zona de juegos en línea. He estado jugando a un nivel alto desde 2013."
				/>
			</li>
			<!-- Youtube -->
			<li class="col-span-1 row-span-1 rounded-lg">
				<Card
					href={"https://www.youtube.com/@NicovAoE"}
					titleEng="YouTube"
					titleEsp="YouTube"
					bodyEng="Welcome to my YouTube channel. Subscribe!"
					bodyEsp="Bienvenido a mi canal de YouTube. ¡Suscríbete!"
				/>
			</li>
			<!-- redbull wallpaper -->
			<li class="col-span-2 row-span-4 rounded-lg">
				<Image
					transition:persist
					class="redbull w-full h-full object-cover border-dotted border-2 border-gray-700 rounded-lg"
					src={wallpaper}
					alt="wallpaper-redbull-nicov"
				/>
			</li>

			<li class="col-span-3 row-span-2 rounded-lg">
				<Card
					href={"/"}
					titleEng="Twitch"
					titleEsp="Twitch"
					bodyEng="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"
					bodyEsp="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"
				/>
			</li>
			<!-- Twitter -->
			<li class="col-span-1 row-span-1 rounded-lg">
				<Card
					href={"https://twitter.com/nicovaoe"}
					titleEng="Twitter"
					titleEsp="Twitter"
					bodyEng="I await you on my Twitter for updates and discussions!"
					bodyEsp="Te espero en mí Twitter para actualizaciones y discusiones!"
				/>
			</li>
			<!-- Twitch -->
			<li class="twitch social col-span-1 row-span-1 rounded-lg">
				<Card
					titleEng="Twitch"
					titleEsp="Twitch"
					href="https://www.twitch.tv/nicov_"
					bodyEsp="Únete a mi canal de Twitch y mira mis directos, ¡sígueme!"
					bodyEng="Join my Twitch channel and watch my live streams, follow me!"
				/>
			</li>

			<li class="video col-span-3 row-span-2 rounded-lg">
				<!-- <TwitchPlayer client:visible /> -->
				<!-- <Youtube client:visible transition:persist /> -->
			</li>
			<!-- Discord -->
			<li class="discord social col-span-1 row-span-1 rounded-lg">
				<Card
					titleEng="Discord"
					titleEsp="Discord"
					href="https://discord.gg/ageofempires"
					bodyEsp=" ¡Te invito a unirte a la comunidad de Age of Empires en Discord!"
					bodyEng="I invite you to join the Age of Empires community on Discord!"
				/>
			</li>
			<li class="col-span-3 row-span-1 rounded-lg">
				<Card
					href={"/"}
					titleEng="AOE Coaching "
					titleEsp="Clases de AOE"
					bodyEng="Looking for more students! Contact me by discord or twitch PM if interested, and click on the above banner for more info."
					bodyEsp="¡Buscando más estudiantes! Contáctame por Discord o mensaje privado en Twitch si estás interesado, y haz clic en el banner de arriba para obtener más información."
				/>
			</li>
		</ul>
	</section>
</Layout>

<style>
	@media (width < 1000px) {
		section {
			height: 100%;
			width: 100%;
		}
		ul {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			padding: 0 2%;
			margin: 0;
		}
		li {
			width: 100%;
			max-height: 150px;
			grid-column: 1 / 2;
			grid-row: auto;
		}
	}
	.redbull {
		view-transition-name: redbull;
	}

	.nicov {
		width: 275px;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		transition: all 0.5s ease-in-out;
		view-transition-name: nicov;
		filter: drop-shadow(0 0 0.05em crimson) brightness(1.2);
	}

	.nicov:hover {
		filter: drop-shadow(0 0 0.3em crimson) brightness(1.5);
	}
	li {
		overflow: hidden;
	}
	section {
		position: relative;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		color: white;
		font-size: 20px;
		max-width: 100vw;
		max-height: 100vh;
	}
	.video {
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.1);
		display: grid;
		align-items: center;
	}
	.video:hover {
		filter: drop-shadow(0px 0px 10px crimson);
		animation: pulse 4s infinite ease;
	}
	@keyframes pulse {
		0% {
			filter: drop-shadow(0px 0px 0.1px crimson);
		}
		50% {
			filter: drop-shadow(0px 0px 0.5em crimson);
		}
		100% {
			filter: drop-shadow(0px 0px 0.1px crimson);
		}
	}
</style>
