---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import wallpaper from "../img/nikov-redbull.jpg";
import TwitchPlayer from "../components/TwitchPlayer.astro";
import YouTube from "../components/Youtube.astro";
import Welcome from "../components/Welcome.astro";
---

<Layout title="Nikov AOE">
	<Welcome />
	<section class="h-screen p-0 m-0 w-screen flex items-center justify-center">
		<ul
			class="grid grid-cols-6 grid-rows-5 gap-5 max-h-[80%] max-w-[1000px]">
			<li class="col-span-3 row-span-1 rounded-lg">
				<Card
					href={"/"}
					title="Twitch"
					body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
				/>
			</li>
			<li class="col-span-1 row-span-1 rounded-lg">
				<Card
					href={"/"}
					title="Twitch"
					body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
				/>
			</li>
			<li class="col-span-2 row-span-4 rounded-lg">
				<Image
					class={"w-full h-full object-cover  "}
					src={wallpaper}
					alt="wallpaper-redbull-nikov"
				/>
			</li>


			<li class="col-span-3 row-span-2 rounded-lg">
				<Card
					href={"/"}
					title="Twitch"
					body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
				/>
				</li>
				<li class="col-span-1 row-span-2 rounded-lg">
					<Card
						href={"/"}
						title="Twitch"
						body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
					/>
				</li>

				<li class="col-span-3 row-span-2 rounded-lg">
					<YouTube />
				</li>
				<li class="col-span-1 row-span-1 rounded-lg">
					<Card
						href={"/"}
						title="Twitch"
						body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
					/>
				</li>
				<li class="col-span-3 row-span-1 rounded-lg">
					<Card
						href={"/"}
						title="Twitch"
						body={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumaut fugit cumque repudiandae voluptatibus sint repellat quisas asddsd asdsadsaa asdsadsas adsad"}
					/>
				</li>
			</li>
		</ul>
	</section>
	</Layout>

	<style>
		@media ( width < 900px){
			section{
				height: 100%;
				width: 100%;
			}
			ul {
				max-height: 100%;
				width: 100%;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 1fr);
				padding: 0 2%;
				margin: 0;	
				&& li {
					width: 100%;
					max-height:150px;
					grid-column: 1 / 2;
					grid-row: auto;
				}			
			}
		}
		li {
			overflow: hidden;
		}
		section {
			position: relative;
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			color: white;
			font-size: 20px;
		}

		section::before {
			z-index: -1;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: url(../img/warrior.png);
			background-size: cover;
			background-position: center;
			opacity: 0.1;
		}
	</style>

