---
import { Image } from "astro:assets";
import nicov from "../img/nicov-title.png";
---

<a href="/">
	<Image src={nicov} alt="nicov" class="nicov" />
</a>

<style>
	.nicov {
		width: 200px;
		position: absolute;
		z-index: 1;
		top: 0.25rem;
		right: 0.25rem;
		transition: all 0.5s ease-in-out;
		view-transition-name: nicov;
		filter: drop-shadow(0 0 0.05em crimson) brightness(1.2);
	}

	.nicov:hover {
		filter: drop-shadow(0 0 0.3em crimson) brightness(1.5);
	}

	@media (width < 950px) {
		.nicov {
			width: 250px;
		}
	}
</style>
