---
import { Image } from "astro:assets";
import aoe from "../img/AOE.png";
---

<article class="checkbox-wrapper-10 relative">
	<Image class="aoe" src={aoe} alt="aoe-logo" />

	<input checked="" type="checkbox" id="cb5" class="tgl tgl-flip" />
	<label for="cb5" data-tg-on="Eng" data-tg-off="Esp" class="tgl-btn">
	</label>
</article>

<style>
	.checkbox-wrapper-10 {
		position: absolute;
		right: 2rem;
		bottom: 2rem;
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.checkbox-wrapper-10 .tgl {
		display: none;
	}

	.checkbox-wrapper-10 .tgl,
	.checkbox-wrapper-10 .tgl:after,
	.checkbox-wrapper-10 .tgl:before,
	.checkbox-wrapper-10 .tgl *,
	.checkbox-wrapper-10 .tgl *:after,
	.checkbox-wrapper-10 .tgl *:before,
	.checkbox-wrapper-10 .tgl + .tgl-btn {
		box-sizing: border-box;
	}

	.checkbox-wrapper-10 .tgl::-moz-selection,
	.checkbox-wrapper-10 .tgl:after::-moz-selection,
	.checkbox-wrapper-10 .tgl:before::-moz-selection,
	.checkbox-wrapper-10 .tgl *::-moz-selection,
	.checkbox-wrapper-10 .tgl *:after::-moz-selection,
	.checkbox-wrapper-10 .tgl *:before::-moz-selection,
	.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
	.checkbox-wrapper-10 .tgl::selection,
	.checkbox-wrapper-10 .tgl:after::selection,
	.checkbox-wrapper-10 .tgl:before::selection,
	.checkbox-wrapper-10 .tgl *::selection,
	.checkbox-wrapper-10 .tgl *:after::selection,
	.checkbox-wrapper-10 .tgl *:before::selection,
	.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
		background: none;
	}

	.checkbox-wrapper-10 .tgl + .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.checkbox-wrapper-10 .tgl + .tgl-btn:after,
	.checkbox-wrapper-10 .tgl + .tgl-btn:before {
		position: relative;
		display: block;
		content: "";
		width: 50%;
		height: 100%;
		filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));
	}

	.checkbox-wrapper-10 .tgl + .tgl-btn:after {
		left: 0;
	}

	.checkbox-wrapper-10 .tgl + .tgl-btn:before {
		display: none;
	}

	.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
		left: 50%;
	}

	.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
		padding: 2px;
		transition: all 0.2s ease;
		font-family: sans-serif;
		perspective: 100px;
	}

	.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
	.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
		display: inline-block;
		transition: all 0.4s ease;
		width: 100%;
		text-align: center;
		position: absolute;
		line-height: 2em;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 8px;
	}

	.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
		content: attr(data-tg-on);
		background: #202020;
		transform: rotateY(-180deg);
	}

	.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
		background: #08135e;
		content: attr(data-tg-off);
	}

	.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
		transform: rotateY(-20deg);
	}

	.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
		transform: rotateY(180deg);
	}

	.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
		transform: rotateY(0);
		left: 0;

		background: #4e0101;
	}

	.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
		transform: rotateY(20deg);
	}

	.aoe {
		opacity: 0.3;
		filter: drop-shadow(0 0 0.1em crimson);
		z-index: -10;
		view-transition-name: aoe;
	}
</style>
