---

---

<section class="w-full h-full">
	<!-- <iframe
		src="https://player.twitch.tv/?video=1967983287&parent=localhost"
		frameborder="0"
		allowfullscreen="true"
		scrolling="no"
		style="width: 100%; aspect-ratio: 16/9; border-radius: 8px; height: 100%;"
	></iframe> -->

	<iframe
		src="https://player.twitch.tv/?channel=nicov_&parent=localhost"
		frameborder="0"
		allowfullscreen="true"
		scrolling="no"
		style="width: 100%; aspect-ratio: 16/9; border-radius: 8px; height: 100%;"
	></iframe>
</section>
