---
import { Image } from "astro:assets";
import warrior from "../img/warrior5.jpg";
import nicov from "../img/nicov-title.png";

const scrollToBottom = (): void => {
	console.log("Scrolling to bottom");
	window.scrollTo({
		top: document.body.scrollHeight,
		behavior: "smooth",
	});
};
---

<section class="h-screen">
	<article class="header-article">
		<Image class="nicov" src={nicov} alt="nicov" />
		<Image class="warrior" src={warrior} alt="warrior" />
		<button
			class="absolute bottom-5 text-white border-spacing-10 border p-1"
			>scroll</button
		>
	</article>
</section>

<style>
	section {
		position: relative;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.warrior {
		background-image: radial-gradient(
				circle,
				rgba(0, 0, 0, 0.8) 50%,
				transparent 100%
			),
			radial-gradient(circle, transparent 0%, rgba(0, 0, 0, 0.8) 50%),
			linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
			linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
		mask: radial-gradient(circle at center, white 15%, transparent 65%);
	}
	.nicov {
		width: 100%;
		max-width: 375px;
		position: absolute;
		z-index: 1;
		top: 1rem;
		left: 1rem;
		transition: all 1s ease-in-out;
	}

	.nicov:hover {
		filter: drop-shadow(0 0 0.1em crimson) brightness(1.5);
	}

	section::before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../img/war1.jpg);
		background-size: cover;
		background-position: unset;
		height: 100%;
		width: 100%;
	}
</style>
