---
import { Image } from "astro:assets";
import warrior from "../img/warrior5.jpg";
import nicov from "../img/nicov-title.png";
---

<section>
	<article class="header-article">
		<Image class="img2" src={nicov} alt="nicov" />
		<Image class="img" src={warrior} alt="warrior" />
		<div class="scroll-container">
			<span class="text-white py-5">aca va el scroll</span>
		</div>
	</article>
</section>

<style>
	.header-article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: auto;
		aspect-ratio: 16 / 9;
	}
	.img {
		max-height: 75%;
		max-width: 1000px;
		border-radius: 8px;
		object-fit: cover;
		background-image: radial-gradient(
			circle,
			rgba(0, 0, 0, 0.8) 50%,
			transparent 100%
		);
		mask: radial-gradient(circle at center, white 50%, transparent 100%);
	}
	.img2 {
		width: 700px;
		padding: 1rem;
		padding-top: 0;
		transition: all 0.5s ease;
	}
	.img2:hover {
		filter: drop-shadow(0 0 0.1em crimson);
		transition: all 0.5s ease;
	}
	section {
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	section::before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../img/war1.jpg);
		background-size: auto;
		background-position: center;
		opacity: 0.1;
	}
	.scroll {
		color: red;
	}
</style>
