---

---

<section class="youtbe-container">
	<article class="youtube relative flex flex-col items-center">
		<span class="absolute text-sm text-yellow-500">Nicov Best Highlights</span>
		<iframe
			style="width: 100%; aspect-ratio: 16/9; border-radius: 8px; height: 100%;"
			src="https://www.youtube.com/embed/P-Bs6ALCXOI?si=bMzmP1QpLfvuTEwB"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; mute=1; web-share"
			allowfullscreen></iframe>
	</article>
</section>
