---
import { ViewTransitions } from "astro:transitions";
import WaterBrand from "../components/WaterBrand.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<meta name="description" content="Nicov AOE Professional Player" />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-oficial.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>

	<body class="">
		<main>
			<slot />
			<WaterBrand />
		</main>
		<style is:global>
			@media (width < 950px) {
				body,
				main,
				html {
					height: 100%;
				}
			}
			/* view transition Api */
			::view-transition-new(root),
			::view-transition-old(root) {
				animation-duration: 0.3s;
			}

			/* view transition Api */
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					141deg,
					#202020 0%,
					white 50%,
					indigo 100%
				);
			}

			html {
				font-family: system-ui, sans-serif;
				background: #13151a;
				color-scheme: dark light;
				position: relative;
			}

			section:before {
				z-index: -1;
				content: "";
				position: absolute;
				background-image: url("../img/war1.jpg");
				view-transition-name: fade;
				background-size: cover;
				background-position: bottom;
				height: 100%;
				width: 100%;
				opacity: 0.2;
			}
		</style>
	</body>
</html>
